{% extends "base.html.twig" %}

{% block title %}
    {% for article in articles %}
        {% if slug == article.url %}
            {{ article.title }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block description %}
    {% for article in articles %}
        {% if slug == article.url %}
            <meta name="Description" CONTENT="{{ article.description }}">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block data_structure %}
    {% for article in articles %}
        {% if slug == article.url %}
            <script type="application/ld+json">
                {
                    "@context": "https://schema.org/",
                    "@type": "Article",
                    "headline": "{{ article.title|raw }}"
                },
                {
                    "datePublished": "{{ article.getDate|date('Y-m-d') }}",
                    "dateModified": "{{ article.getUpdateAt|date('Y-m-d') }}",
                    "author" {
                        "@type": "Person",
                        "name": "Marco Valeri",
                    },
                }
            </script>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
    {% set break = false %}
    {% set notFound = true %}
    {% for article in articles %}
        {% if slug == article.url and break == false %}
            <div class="content__title">
                <h1>{{ article.title }}</h1>
            </div>
            <div class="content__main">
                    {{ article.content | raw }}
            </div>
            <div class="content__image">
                <img class="content__image-picture" src="../images/{{ article.image }}" alt="{{ article.image }}">
            </div>
            {% set break = true %}
            {% set notFound = false %}
        {% endif %}
    {% endfor %}
    {% if break == false and notFound == true %}
        <div class="content__title">
            <h1>Articolo non trovato</h1>
        </div>
        <div class="content__main">
                Sembra che l'articolo che stai cercando non esista.<br>
                <a href="{{ path('app_home') }}">Torna alla home</a><br>
                <a href="{{ path('app_contact') }}">Contatta lo staff di MarcoValeri.net</a>
        </div>
        {% set notFound = false %}
    {% endif %}
{% endblock %}