{% extends "base.html.twig" %}

{% block title %}
    Marco Valeri articoli
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="Articoli del sito ufficiale di Marco Valeri, archivio di tutti gli articoli del suo blog scritti, ordinati a partire dal posto più nuovo al più vecchio">
{% endblock %}

{% block body %}
    <section class="articles-list__container">
        <section class="articles-list__title">
            <h1>Tutti gli Articoli</h1>
        </section>
        {% set article_num = articles|length - 1 %}
        {% for item in article_num..0 %}
            <a class="articles-list__article-link" href="articoli/{{ articles[item].url }}">
                <section class="articles-list__article">
                    <img class="articles-list__article-image" src="images/{{ articles[item].image }}" alt="{{ articles[item].image }}">
                    <h1 class="articles-list__article-title">{{ articles[item].title }}</h1>
                    {% set article_preview = articles[item].content|slice(0, 200) ~ '...' %}
                    <p class="articles-list__article-paragraph">{{ article_preview|raw }}</p>
                </section>
            </a>
        {% endfor %}
    </section>
{% endblock %}