{% extends "base.html.twig" %}

{% block body %}
    <div class="content__title">
        <h2>Lascia che mi presenti</h2>
    </div>
    <div class="content__main">
        <p>
            Mi chiamo Marco Valeri e voglio darti il benvenuto nel mio sito, che raccoglie tutti i miei pensieri e le mie idee, quelle che mi hanno fatto arrivare a raggiungere alcuni dei miei sogni pur essendo partito dal basso.
            <br><br>
            Sono nato a Roma nel 1984, una città che ho amato e odiato allo stesso tempo, un luogo che racchiude tante emozioni e persone che hanno fatto e che fanno ancora parte della mia vita.
            <br><br>
            A trent’anni mi sono trasferito a vivere a Londra, città che mi ha cambiato letteralmente la vita.
            <br><br>
            I nostri nonni partivano con la valigia di cartone verso il Nord Italia, il Nord Europa o verso gli Stati Uniti d’America. Io, invece, sono partito con un volo low cost, pochi soldi e con una valigia piena di voglia di riscatto.
            <br><br>
            Andare via dall’Italia mi ha fatto mettere un punto sul passato per ripartire completamente da zero, Londra è stato il luogo giusto in cui farlo, nonostante avessi più di trent’anni, un’età per cui per molti ero ormai troppo vecchio per avere una vita diversa, quella che realmente volevo.
            <br><br>
            Ripartire da zero fa paura, soprattutto quando...<a href="{{ path('app_page', {slug: 'chi-sono'}) }}">[Continua a leggere...]</a>
        </p>
    </div>
    <div class="home__container-categories">
        <div class="home__container-single-category">
            <twig:BannerPreview
                bannerPreviewImage="{{ asset('/images/orologio-nella-cattedrale-di-colonia-in-germania.webp') }}"
                bannerPreviewImageAlt="Orologio nella Cattedrale di Colonia in Germania"
                bannerPreviewTitle="Esperienze"
                bannerPreviewDescription="L'età non è mai un limite per essere quello che vuoi essere"
                bannerPreviewLink="{{ path('app_category', {slugCategory: 'esperienze', pageNumber: '0'}) }}"
                bannerPreviewButton="Scopri tutti gli articoli"
            />
        </div>
        <div class="home__container-single-category">
            <twig:BannerPreview
                bannerPreviewImage="{{ asset('/images/big-ben-di-londra-di-notte.webp') }}"
                bannerPreviewImageAlt="Big Ben di Londra di notte"
                bannerPreviewTitle="Vivre all'estero"
                bannerPreviewDescription="C'è un posto per tutti nel mondo, anche per te"
                bannerPreviewLink="{{ path('app_category', {slugCategory: 'vivere-all-estero', pageNumber: '0'}) }}"
                bannerPreviewButton="Scopri tutti gli articoli"
            />
        </div>
    </div>
    <section class="articles-list">
        <div class="articles-list__title">
            <h1>Ultimi articoli</h1>
        </div>
        {% set key = 0 %}
        {% for article in articles|reverse %}
            {% if ((key < 10) and ("now"|date('U') > article.getDate|date('U'))) %}
                <a class="articles-list__container no-link" href="articoli/{{ article.getUrl }}">
                    <article class="articles-list__article">
                        <div class="articles-list__container-image">
                            <img class="articles-list__article-image" src="images/{{ article.getImage }}" alt="{{ article.getImage.title }}">
                        </div>
                        <div class="articles-list__content-container">
                            <h1 class="articles-list__article-title">{{ article.getTitle }}</h1>
                            {% set article_preview = article.getContent|slice(0, 200) ~ '...' %}
                            <div class="articles-list__article-paragraph">{{ article_preview|striptags|raw }}</div>
                        </div>
                    </article>
                </a>
                {% set key = key + 1 %}
            {% endif %}
        {% endfor %}
    </section>
    <section class="home__container-button">
        <a href="{{ path('app_articles_archive', {pageNumber: '0'}) }}">
            <button class="button button__black">Scopri tutti gli articoli</button>
        </a>
    </section>
{% endblock %}