{% extends "base.html.twig" %}

{# Set Page's variables #}
{% if page %}
    {% set pageTitle = page.title %}
    {% set pageDescription = page.description %}
    {% set pageUrl = page.url %}
    {% set pageContent = page.content %}
    {% set pageDate = page.date %}
    {% set pageUpdated = page.getUpdateAt %}
{% endif %}

{% block title %}
    <title>{{ pageTitle|raw }}</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="{{ pageDescription|raw }}">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Page",
            "headline": "{{ pageTitle|raw }}"
        },
        {
            "datePublished": "{{ pageDate|date('Y-m-d') }}",
            "dateModified": "{{ pageUpdated|date('Y-m-d') }}",
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://www.marcovaleri.net/page/{{ pageUrl }}">
{% endblock %}

{% block body %}
    <section class="content__title">
        <h1>{{ pageTitle }}</h1>
    </section>
    <section class="content__main">
            {{ pageContent | raw }}
    </section>
{% endblock %}