{% extends "base.html.twig" %}

{% block page_title %}
    Admin User Data Menu
{% endblock %}

{% block body %}
    <div class="content__title">
        <h2>User Data</h2>
    </div>
    <div class="user-data content__main">
        <table class="user__table">
            <tr>
                <th class="user__table-head p">Id</th>
                <th class="user__table-head p">Email</th>
                <th class="user__table-head p">Roles</th>
            </tr>
            {% if (user) %}
                <tr>
                    <td class="user__table-item p">{{ user.id }}</td>
                    <td class="user__table-item p">{{ user.email }}</td>
                    <td class="user__table-item p">
                        {% for role in user.getRoles %}
                            {{ role }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </table>
        <div class="user-data__container">
            {{ form_start(userDataForm) }}
                <div class="user-data__grid">
                    <div class="user-data__grid-title">
                        <h4>Modifica i dati di {{ user.email }}</h4>
                    </div>
                    <div class="user-data__grid-email">
                        {{ form_widget(userDataForm.email, {'attr': {'class': 'newsletter__input-email'}}) }}
                    </div>
                    <div class="user-data__grid-roles">
                        {{ form_widget(userDataForm.roles, {'attr': {'class': 'user-data__grid-select'}}) }}
                    </div>
                    <div class="user-data__grid-psw">
                        {{ form_widget(userDataForm.password, {'attr': {'class': 'newsletter__input-email'}}) }}
                    </div>
                    <div class="user-data__grid-submit">
                        {{ form_widget(userDataForm.submit, {'attr': {'class': 'button'}}) }}
                    </div>
                </div>
            {{ form_end(userDataForm) }}
        </div>
    </div>
{% endblock %}