{% extends "base.html.twig" %}

{% block title %}
    <title>Marco Valeri archivio articoli</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="Archivio articoli del sito ufficiale di Marco Valeri, archivio di tutti gli articoli del suo blog scritti, ordinati a partire dal posto più nuovo al più vecchio">
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://www.marcovaleri.net/articoli-archivio/pagina_{{ pageNumber }}">
{% endblock %}

{% block body %}
    <section class="articles-list">
        <div class="articles-list__title">
            <h1>Archivio articoli</h1>
        </div>
        {% for article in articles %}
            <a class="articles-list__container no-link" href="{{ path('app_article', {slug: article.url}) }}">
                <article class="articles-list__article">
                    <div class="articles-list__container-image">
                        <img class="articles-list__article-image" src="../images/{{ article.file_name }}" alt="{{ article.alternative_text }}">
                    </div>
                    <div class="articles-list__content-container">
                        <h1 class="articles-list__article-title">{{ article.title }}</h1>
                        {% set article_preview = article.content|slice(0, 200) ~ '...' %}
                        <div class="articles-list__article-paragraph">{{ article_preview|raw }}</div>
                    </div>
                </article>
            </a>
        {% endfor %}
        {% set prevPageNumber = pageNumber - 1 %}
        {% set nextPageNumber = pageNumber + 1 %}
        <div class="articles-list__container-btn">
            <div class="articles-list__container-btn-prev">
                {% if prevPageNumber >= 0 %}
                    <a href="{{ path('app_articles_archive', {pageNumber: prevPageNumber}) }}"><button class="button button__black">Prev</button></a>
                {% endif %}
            </div>
            <div class="articles-list__container-btn-next">
                {% if articles|length == 10 %}
                    <a href="{{ path('app_articles_archive', {pageNumber: nextPageNumber}) }}"><button class="button button__black">Next</button></a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}