{% extends "base.html.twig" %}

{# Set Article's variables #}
{% if article %}
    {% set articleTitle = article.title %}
    {% set articleDescription = article.description %}
    {% set articleUrl = article.url %}
    {% set articleContent = article.content %}
    {% set articleImage = article.getImage %}
    {% set articleImageAlt = article.getImage.title %}
    {% set articleDate = article.date %}
    {% set articleUpdate = article.getUpdateAt %}
    {% set genderOption = article.getGenderOption %}
    {% set articleComments = article.getComments %}
{% endif %}

{# 
# Set up date variables.
# Use seconds to compare date.
# This date is +1hour to UK time
# it is like Italy time
#}
{% set getDateToday = "now"|date('U') %}

{% block title %}
    <title>{{ articleTitle|raw }}</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="{{ articleDescription|raw }}">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Article",
            "headline": "{{ articleTitle|raw }}"
        },
        {
            "datePublished": "{{ articleDate|date('Y-m-d') }}",
            "dateModified": "{{ articleUpdate|date('Y-m-d') }}",
            "author" {
                "@type": "Person",
                "name": "Marco Valeri",
            },
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://www.marcovaleri.net/articoli/{{ articleUrl }}">
{% endblock %}

{% block body %}
    <div class="content__title">
        <h1>{{ articleTitle }}</h1>
    </div>
    <div class="content__data">
        <ul class="list-no-style">
            <li class="content__data-item">Autore: Marco Valeri</li>
            <li class="content__data-item">Pubblicato il: {{ articleDate|date('d-m-Y') }}</li>
            <li class="content__data-item">Ultima modifica: {{ articleUpdate|date('d-m-Y') }}</li>
        </ul>
    </div>
    {% if genderOption %}
        <div class="content__gender-banner">
        <p id="gender-legend" class="p rainbow">Sentiti libero...</p>
            <ul class="list-no-style">
                <li class="content__gender-item"><img id="gender-male" class="content__gender-icon content__gender-icon--active" src="../images/male-icon.png" alt="Male Simbol Icon"></li>
                <li class="content__gender-item"><img id="gender-female" class="content__gender-icon" src="../images/female-icon.png" alt="Male Simbol Icon"></li>
                <li class="content__gender-item"><img id="gender-non-binary" class="content__gender-icon" src="../images/non-binary-icon.png" alt="Male Simbol Icon"></li>
            </ul>
            <p class="p rainbow">...di scegliere il linguaggio che preferisci</p>
        </div>
    {% endif %}
    <div class="content__main">
        {{ articleContent | raw }}
    </div>
    <div class="content__image">
        <img class="content__image-picture" src="../images/{{ articleImage }}" alt="{{ articleImageAlt }}">
    </div>
    <section>
        <twig:bannerAuthor
            bannerAuthorImage="{{ asset('/images/big-ben-di-londra-di-notte.webp') }}"
            bannerAuthorImageAlt="Immagine dell'autore Marco Valeri"
            bannerAuthorTitle="Marco Valeri"
            bannerAuthorDescription="Mi chiamo Marco Valeri, sono nato a Roma e attualmente vivo a Londra, città che mi ha cambiato la vita.<br /><br />Laureato in Computer Science alla Birkbeck University of London, divoro libri, amo scrivere e non mi stanco mai di conoscere cose nuove, soprattutto legate al mondo dell'informatica.<br /><br />Ogni giorno provo a mettere in atto il concetto secondo cui 'La disciplina è libertà'."
        />
    </section>
    <section id="article-container-comments" class="content__section-form">
        <!-- Success message if form has been submitted -->
        {% for message in app.flashes('success') %}
            <div class="content__container-comments-success">
                <p class="content__success-message body-2">{{ message }}</p>
            </div>
        {% endfor %}
        <div class="content__form-header">
            <h3 class="h2">Lascia un commento</h3>
        </div>
        {{ form_start(formComment, {'action': '#article-container-comments'}) }}
            <div class="content__form-grid">
                <div class="content__container-form-name">
                    {{ form_widget(formComment.name, {'attr': {'class': 'content__input-text input-text'}}) }}
                    <div class="body-3 content__form-error">{{ form_errors(formComment.name) }}</div>
                </div>
                <div class="content__container-form-email">
                    {{ form_widget(formComment.email, {'attr': {'class': 'content__input-text content__input-email input-text'}}) }}
                    <p class="body-3">La tua email non verrà pubblicata</p>
                    <div class="body-3 content__form-error">{{ form_errors(formComment.email) }}</div>
                </div>
                <div class="content__container-form-content">
                    {{ form_widget(formComment.content, {'attr': {'class': 'content__input-textarea input-textarea'}}) }}
                    <div class="body-3 content__form-error">{{ form_errors(formComment.content) }}</div>
                </div>
                <div class="content__container-form-privacy">
                    {{ form_widget(formComment.privacy, {'attr': {'class': 'input-checkbox'}}) }}
                    {{ form_label(formComment.privacy, 'Accetto la privacy policy', { 
                        'label_attr': {'class': 'content__label-privacy body-2' } 
                        }) }}
                </div>
                <div class="content__container-form-submit">
                    {{ form_widget(formComment.submit, {'attr': {'class': 'content__form-btn button button__black'}}) }}
                    <p class="body-3">Per maggiori informazioni consulta la <a class="link" href="{{ path('app_cookie_policy') }}">Privacy Policy</a></p>
                </div>
            </div>
        {{ form_end(formComment) }}
    </section>
    <section class="content__container-comments">
        <div class="content__comments-header">
            <h3 class="h2">{{ articleComments|length }} {{ articleComments|length == 1 ? 'commento' : 'commenti' }}</h3>
        </div>
        {% for comment in articleComments %}
            {% if comment.approved %}
                <div class="comment-card">
                    <div class="comment-card__wrapper">
                        <div class="comment-card__container-name">
                            <h4 class="h3">{{ comment.name }}</h4>
                        </div>
                        <div class="comment-card__container-date">
                            <h5 class="body-4">Pubblicato il {{ comment.getDate }} da {{ comment.name }}</h5>
                        </div>
                        <div class="comment-card__container-comment">
                            <p class="p">
                                {{ comment.getContent }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}