<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marco Valeri{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block description %}
            <meta name="Description" CONTENT="Sito Ufficiale di Marco Valeri, Software Engineer, Blogger e Autore che raccoglie i principali articoli, racconti e la biografia dello stesso Marco Valeri">
        {% endblock %}
    
        {% block index %}
            <meta name="robots" content="index, follow">
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <section class="navbar__toggle">
                    <input class="navbar__input" type="checkbox"/>
                    <span class="navbar__span"></span>
                    <span class="navbar__span"></span>
                    <span class="navbar__span"></span>
                    <ul class="navbar__menu">
                        <section class="navbar__logo">
                            <li class="navbar__element">
                                <a class="navbar__link brand-name" href="{{ path('app_home') }}">Marco Valeri</a>
                            </li>
                        </section>
                        <section class="navbar__items">
                            <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/" ? 'navbar__element--mark' : '' }}">
                                <a class="navbar__link" href="{{ path('app_home') }}">Home</a>
                            </li>
                            <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/page/chi-sono" ? 'navbar__element--mark' : '' }}" >
                                <a class="navbar__link" href="{{ path('app_page', {slug: 'chi-sono'}) }}">Chi sono</a>
                            </li>
                            <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/articoli/archivio" ? 'navbar__element--mark' : '' }}">
                                <a class="navbar__link" href="{{ path('app_blog') }}">Articoli</a>
                            </li>
                            <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/page/contatti" ? 'navbar__element--mark' : '' }}">
                                <a class="navbar__link" href="{{ path('app_contact') }}">Contatti</a>
                            </li>
                        </section>
                    </ul>
                </section>
            </nav>
            <section class="header__hero">
                <section class="header__container">
                    <h1 class="header__title">Marco Valeri</h1>
                </section>
            </section>
        </header>
        {% block body %}{% endblock %}

        <footer class="footer">
            <section class="footer__content">
                <p class="footer__content-main">Made with <span class="heart">&hearts;</span> in London by Marco Valeri - &copy; {{ "now"|date("Y") }} - All rights reserved</p>
            </section>
        </footer>

        <!-- Cookie Banner -->
        <section id="cookie_policy" class="cookie-banner">
            <p class="cookie-banner__content">This website is using cookies</p>
            <p id="cookie-banner-policy" class="cookie-banner__content"></p>
            <input id="accept" type="submit" value="Acconsento" />
            <input id="cookie-info" type="submit" value="Scopri di più" />
        </section>
        <!-- Add Services after user acept the cookie policy -->
        <div id="services"></div>
    </body>
</html>
