<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}<title>Marco Valeri</title>{% endblock %}
        {% block description %}
            <meta name="Description" CONTENT="Marco Valeri, autore, blogger, Software Engineer, sito ufficiale con gli articoli di crescita personale, professionale, i racconti, le idee e la biografia">
        {% endblock %}

        {% block data_structure %}
            <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "name": "Marco Valeri"
            }
            </script>
        {% endblock %}
    
        {% block index %}
            <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
        {% endblock %}

        <link rel="icon" href="https://marcovaleri.net/images/marco-valeri-logo.svg" size="32x32">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y5V630M9K0"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Y5V630M9K0');
        </script>
    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <div class="navbar__toggle">
                    <label for="navbar menu" aria-label="navbar menu"></label>
                    <input id="navbar menu" name="navbar menu" class="navbar__input" type="checkbox" aria-label="navbar menu" />
                    <span class="navbar__span"></span>
                    <span class="navbar__span"></span>
                    <span class="navbar__span"></span>
                    <ul class="navbar__menu">
                        <li class="navbar__element navbar__logo">
                            <a class="brand-name no-link" href="{{ path('app_home') }}">Marco Valeri</a>
                        </li>
                        <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/" ? 'navbar__element--mark' : '' }}">
                            <a class="navbar__link" href="{{ path('app_home') }}">Home</a>
                        </li>
                        <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/page/chi-sono" ? 'navbar__element--mark' : '' }}" >
                            <a class="navbar__link" href="{{ path('app_page', {slug: 'chi-sono'}) }}">Chi sono</a>
                        </li>
                        <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/articoli" ? 'navbar__element--mark' : '' }}">
                            <a class="navbar__link" href="{{ path('app_blog') }}">Articoli</a>
                        </li>
                        <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/page/contatti" ? 'navbar__element--mark' : '' }}">
                            <a class="navbar__link" href="{{ path('app_contact') }}">Contatti</a>
                        </li>
                        <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/page/newsletter" ? 'navbar__element--mark' : '' }}">
                            <a class="navbar__link" href="{{ path('app_newsletter') }}">Newsletter</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="navbar__element">
                                <a class="navbar__link" href="{{ path('app_admin') }}">Admin</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="header__hero">
                <div class="header__container">
                    <h1 class="header__title font-tangerine">Marco Valeri</h1>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="content">
                {% block body %}{% endblock %}
            </div>
            <div class="sidebar">
                <div class="sidebar__item">
                    <h2 class="sidebar__item-title">
                        Seguimi su
                    </h2>
                    <p class="sidebar__item-content--icons">
                        <a class="sidebar__item-icon no-link" href="https://www.facebook.com/marcovaleri.net" target="_blank">
                            <img src="../images/facebook-icon.svg" alt="facebook icon">
                        </a>
                        <a class="sidebar__item-icon no-link" href="https://www.linkedin.com/in/valeri-marco/" target="_blank">
                            <img src="../images/linkedin-icon.svg" alt="facebook icon">
                        </a>
                    </p>
                </div>
                <div class="sidebar__item">
                    <h2 class="sidebar__item-title">
                        Rimaniamo in contatto
                    </h2>
                    <p class="sidebar__item-content">
                        Rimaniamo in contatto tramite email.
                        <br>
                        Iscriviti alla mia newsletter dove sono solito a condividere i miei ultimi articoli e alcune novità con i lettori più intimi.
                    </p>
                    <a href="/page/newsletter">
                        <button class="button button__black">Newsletter</button>
                    </a>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer__content">
                <p class="footer__content-main">Made with <span class="heart">&hearts;</span> in London by Marco Valeri - &copy; {{ "now"|date("Y") }} - All rights reserved</p>
            </div>
        </footer>

        <!-- Cookie Banner -->
        <section id="cookie_policy" class="cookie-banner">
            <p class="cookie-banner__content">
                Utilizziamo cookie, anche di terze parti, per fini tecnici, statistici e di profilazione.<br>
                Cliccando su “Accetto”, acconsenti all’uso dei cookie.<br>
                Per ulteriori informazioni sui cookie e su come gestirli, consulta la nostra Cookie Policy<br>
            </p>
            <div class="cookie-banner__container-buttons">
                <input id="accept" class="cookie-banner__button button button__white" type="submit" value="Accetto" />
                <a id="more" class="cookie-banner__button button button__white" href="{{ path('app_cookie_policy') }}">Scopri di più</a>
            </div>
        </section>
    </body>
</html>
