<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Marco Valeri{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block description %}
            <meta name="Description" CONTENT="Sito Ufficiale di Marco Valeri, Software Engineer, Blogger e Autore che raccoglie i principali articoli, racconti e la biografia dello stesso Marco Valeri">
        {% endblock %}
    
        {% block index %}
            <meta name="robots" content="index, follow">
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37621147-6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-37621147-6');
        </script>

    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <div class="navbar__toggle">
                    <input class="navbar__input" type="checkbox"/>
                    <span class="navbar__span"></span>
                    <span class="navbar__span"></span>
                    <span class="navbar__span"></span>
                    <ul class="navbar__menu">
                        <div class="navbar__logo">
                            <li class="navbar__element">
                                <a class="brand-name no-link" href="{{ path('app_home') }}">Marco Valeri</a>
                            </li>
                        </div>
                        <div class="navbar__items">
                            <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/" ? 'navbar__element--mark' : '' }}">
                                <a class="navbar__link" href="{{ path('app_home') }}">Home</a>
                            </li>
                            <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/page/chi-sono" ? 'navbar__element--mark' : '' }}" >
                                <a class="navbar__link" href="{{ path('app_page', {slug: 'chi-sono'}) }}">Chi sono</a>
                            </li>
                            <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/articoli" ? 'navbar__element--mark' : '' }}">
                                <a class="navbar__link" href="{{ path('app_blog') }}">Articoli</a>
                            </li>
                            <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/page/contatti" ? 'navbar__element--mark' : '' }}">
                                <a class="navbar__link" href="{{ path('app_contact') }}">Contatti</a>
                            </li>
                            <li class="navbar__element {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/page/newsletter" ? 'navbar__element--mark' : '' }}">
                                <a class="navbar__link" href="{{ path('app_newsletter') }}">Newsletter</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="navbar__element">
                                    <a class="navbar__link" href="{{ path('app_admin') }}">Admin</a>
                                </li>
                            {% endif %}
                        </div>
                    </ul>
                </div>
            </nav>
            <div class="header__hero">
                <div class="header__container">
                    <h1 class="header__title">Marco Valeri</h1>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="content">
                {% block body %}{% endblock %}
            </div>
            <div class="sidebar">
                <div class="sidebar__item">
                    <div class="fb-page" data-href="https://www.facebook.com/marcovaleri.net" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/marcovaleri.net" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/marcovaleri.net">Marco Valeri</a></blockquote></div>
                </div>
                <div class="sidebar__item">
                    <h4 class="sidebar__item-title">
                        Rimaniamo in contatto
                    </h4>
                    <p class="sidebar__item-content">
                        Rimaniamo in contatto tramite email.
                        <br>
                        Iscriviti alla mia newsletter dove sono solito a condividere i miei ultimi articoli e alcune novità con i lettori più intimi.
                    </p>
                    <a href="/page/newsletter">
                        <button class="button no-link">Newsletter</button>
                    </a>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer__content">
                <p class="footer__content-main">Made with <span class="heart">&hearts;</span> in London by Marco Valeri - &copy; {{ "now"|date("Y") }} - All rights reserved</p>
            </div>
        </footer>

        <!-- Add Facebook SDK that allows to include its plugin -->
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v12.0&appId=1758309091053362&autoLogAppEvents=1" nonce="VYDfoaWl"></script>

        <!-- Cookie Banner -->
        <section id="cookie_policy" class="cookie-banner">
            <p class="cookie-banner__content">
                Utilizziamo cookie, anche di terze parti, per fini tecnici, statistici e di profilazione.<br>
                Cliccando su “Accetto”, acconsenti all’uso dei cookie.<br>
                Per ulteriori informazioni sui cookie e su come gestirli, consulta la nostra Cookie Policy<br>
            </p>
            <input id="accept" class="cookie-btn" type="submit" value="Accetto" />
            <a id="more" class="cookie-btn cookie-btn--link" href="{{ path('app_cookie_policy') }}">Scopri di più</a>
        </section>
    </body>
</html>
