<div class="banner-preview">
    <div class="banner-preview__wrapper">
        <div class="banner-preview__container-image">
            <img class="banner-preview__image" src="{{ bannerPreviewImage }}" alt="{{ bannerPreviewImageAlt }}" />
        </div>
        <div class="banner-preview__container-title">
            <h2 class="h2">{{ bannerPreviewTitle }}</h2>
        </div>
        <div class="banner-preview__container-description">
            <p class="body-2">{{ bannerPreviewDescription }}</p>
        </div>
        <div class="banner-preview__container-button">
            <a href="{{ bannerPreviewLink }}">
                <button class="button button__black">{{ bannerPreviewButton }}</button>
            </a>
        </div>
    </div>
</div>